.form {padding: 10px;}

.form label {
	width: 60px;
	text-align: right;
	margin-right: 10px;
}

.form input[type=text], .form input[type=number], .snippet, .imgtrack, .form input[type=checkbox], {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #cccccc;
}

.form input[type=text]{
	width: 150px;
}

.form button[type=submit], .snippet, .imgtrack {
	margin-left: 60px;
}

.form input[type=checkbox]{
	margin-left: 15px;
}

.negate-row-space, {
	margin-top: -10px;
}

.content .row {
	margin-top: 10px;
}

.snippet {
	width: 300px; height: 150px;
}

.imgtrack {
	width: 300px; height: 70px;
}

.left {
	margin-left:20px;
}

.pleft {
	margin-bottom: -5px;
	margin-right:10px;
}

#description{
	width:400px;
	margin-bottom:-10px;
	text-align: justify;
}

.preview {
	width: 100px;
	margin-left:10px;
	margin-bottom: -5px;
	font-weight: bold;
}

#tabs {
	width: 160px;
	margin-right:10px;
}

#tabs ul li {
	float: none;
}

.tab-content {
	margin-left: 200px;
	width: 80%;
}

.wrapper {
	width: 100%;
}

#forms {
	width: 300px;
	height: 400px;
}