.form {
	padding: 10px;
}

.form label {
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

.form input[type=text], .form input[type=number], .snippet, .imgtrack, .form input[type=checkbox] {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #cccccc;
}

.form input[type=text], .form input[type=number]{
	width: 200px;
}

.form button[type=submit], .snippet, .imgtrack {
	margin-left: 160px;
}

.negate-row-space, {
	margin-top: -10px;
}

.content .row {
	margin-top: 10px;
}

.snippet {
	width: 300px; height: 150px;
}

.imgtrack {
	width: 300px; height: 70px;
}

.left {
	margin-left:20px;
}

.pleft {
	margin-bottom: -5px;
	margin-right:10px;
}

#description{
	width:80%;
	text-align: justify;
	padding: 5px;
}

.preview {
	width: 100px;
	margin-left:10px;
	margin-bottom: -5px;
	font-weight: bold;
}

#tabs {
	width: 200px;
	padding: 10px;
}

#tabs ul li {
	float: none;
	font-size: 120%;
}

.tab-content {
	margin-left: 200px;
	font-size: 120%;
}

#forms {
	width:100%;
	height:100%;
	border-left: 1px solid #cccccc;
	margin-bottom:10px;
}